{% extends "layout.html" %}

{% block content %}
<div class="game-container">
    <button id="modeToggle">Dark Mode</button>

    <!-- Captured Pieces Container -->
    <div class="captured-pieces-container">
        <!-- Container for White's Captured Pieces -->
        <div id="white-captured-pieces" class="captured-pieces">
            <h3>White Captures</h3>
        </div>

        <!-- Container for Black's Captured Pieces -->
        <div id="black-captured-pieces" class="captured-pieces">
            <h3>Black Captures</h3>
        </div>
    </div>


    <!-- Chessboard -->
    <div class="game-board">
        {% for row_num, row in enumerate(board, start=1) %}
            {% for col_num, piece in enumerate(row, start=1) %}
            <div class="square" data-pos="{{ 'abcdefgh'[col_num-1] }}{{ 9 - row_num }}">
                {% if piece %}
                <img src="{{ url_for('static', filename=piece_to_svg[piece]) }}" class="chess-piece" draggable="true" id="{{ piece }}">
                {% endif %}
            </div>
            {% endfor %}
        {% endfor %}
    </div>

    <!-- PGN Moves Display and Reset Button -->
    <div class="pgn-moves-box">
        <div id="pgnMoves" class="pgn-moves"></div>
        <button id="resetGame" class="reset-game-btn">Reset Game</button>
        <button id="copyPgn" class="copy-pgn-btn">Copy PGN</button>

    </div>
</div>

<!-- JS scripts -->
<script src="{{ url_for('static', filename='js/game.js') }}"></script>
<script>
    document.getElementById('modeToggle').addEventListener('click', function() {
        const gameBoard = document.querySelector('.game-board');
        if (gameBoard.style.backgroundImage.includes('board-dark.png')) {
            gameBoard.style.backgroundImage = "url('{{ url_for('static', filename='images/board.png') }}')";
            this.textContent = "Dark Mode";
        } else {
            gameBoard.style.backgroundImage = "url('{{ url_for('static', filename='images/board-dark.png') }}')";
            this.textContent = "Light Mode";
        }
    });
</script>
{% endblock %}
